@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");

* {
  font-family: "Inter", sans-serif;
  --font-colour: #D7C9DD;
  --font-colour-dark: #202020;
  --nav-colour: #3C2970;
}

html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #653AAA;
}

html {
  height: max-content;
  position: relative;
}
