@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");

* {
  font-family: "Inter", sans-serif;
}

html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #653AAA;
}
