@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=David+Libre&family=Inter&family=Padauk&family=Poppins&family=Qwitcher+Grypen&family=Roboto&display=swap');

* {
  font-family: "Roboto", sans-serif;
  --font-colour: #D7C9DD;
  --font-colour-dark: #202020;
  --nav-colour: #3C2970;
}

*, html {
  scroll-behavior: smooth !important;
}

html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #653AAA;
}

html {
  min-height: 100vh;
  position: relative;
}
