.card-container {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.card {
  width: 400px;
  height: 400px;
  background: palegreen;
  position: relative;
  border-radius: 15px;
}

.card-heading {
  width: 100%;
  position: absolute;
  height: 40px;
  top: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-0 {
  transform: rotateZ(15deg) translateX(13px) translateY(30px);
  background: rgb(255, 255, 0);
  z-index: 4;
}

.card-0 > .card-heading{
  background: rgb(214, 180, 27);
}

.card-1 {
  transform: rotateZ(-6deg) translateX(-20px) translateY(-5px);
  background: rgb(243, 85, 85);
  z-index: 3;
}

.card-1 > .card-heading{
  background: rgb(211, 66, 66);
}

.card-2 {
  transform: rotateZ(7deg) translateX(-20px) translateY(40px);
  background: rgb(84, 223, 79);
  z-index: 3;
}

.card-2 > .card-heading{
  background: rgb(54, 167, 51);
}

.card-3 {
  transform: rotateZ(-20deg) translateX(-20px) translateY(20px);
  background: rgb(72, 84, 255);
  z-index: 4;
}

.card-3 > .card-heading{
  background: rgb(55, 66, 212);
}