nav, .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

nav {
  padding: 20px 5%;
  background: #3C2970;
  color: #d4d4d4;
}

.btn {
  cursor: pointer;
}