@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=David+Libre&family=Inter&family=Padauk&family=Poppins&family=Qwitcher+Grypen&family=Roboto&display=swap');

.flashcard-card {
  background-color: #ccc;
  padding: 30px;
  height: 300px;
  border-radius: 15px;
  transition: 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform-origin: center;
}

.flashcard-question {
  text-align: center;
}

.flashcard-title, .flashcard-question, .flashcard-answer {
  color: var(--font-colour-dark);
}

.flashcard-title {
  font-family: "Poppins", sans-serif;
}

.flashcard-question, .flashcard-answer {
  font-family: "Roboto", sans-serif;
}

.flashcard-card:hover {
  transform: scale(1.05);
}

.flashcard-answer {
  font-size: 2rem
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.favoriteBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: max-content;
  height: max-content;
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 3rem;
  cursor: pointer;
  z-index: 100;
  text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}