.container {
    text-align: center;
    background-color: #ccc;
    border: 1px solid #999;
    padding: 20px;
    border-radius: 15px;
    transition: 0.25s;
    margin: 20px 30px;
}

.correct {
    border: 3px solid green;
}

.incorrect {
    border: 3px solid red;
}

.options-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }