.activity {
  margin-left: 200px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
}

.title {
  padding-left: 40px;
  color: var(--font-colour);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.control-options {
  display: flex;
  justify-content: right;
  flex-direction: row;
  height: 80px;
}

.content {
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: none;
  background: var(--nav-colour);
  font-size: 20px;
  color: #d4d4d4;
  cursor: pointer;
  transition: 0.25s;
  text-decoration: none;
  width: 150px;
  height: 50px;
}

.btn:hover {
  background: #2c1e55;
  transform: scale(1.03);
}

.btn:active {
  transform: scale(0.97);
}

.flashcard-card {
  background-color: #ccc;
  border: 1px solid #999;
  padding: 30px;
  height: 500px;
  width: 900px;
  border-radius: 15px;
  transition: 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform-origin: center;
  align-self: center;
}

.flashcard-question {
  text-align: center;
}

.flashcard-title, .flashcard-question, .flashcard-answer {
  color: var(--font-colour-dark);
  font-size: 2rem
}

.flashcard-answer {
  font-size: 3rem
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.flashcard-card.is-flipped .front {
  transform: rotateY(180deg);
}

.flashcard-card.is-flipped .back {
  transform: rotateY(0deg);
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 40px;
  width: 700px;
  align-self: center;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: none;
  background: var(--nav-colour);
  font-size: 20px;
  color: #d4d4d4;
  cursor: pointer;
  text-decoration: none;
  width: 150px;
  height: 50px;
  transition: 0.25s;
}

.option:hover {
  background: #2c1e55;
  transform: scale(1.03);
}

.Link {
  text-decoration: none;
  color: #d4d4d4;
}

.no-more-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.option:active {
  transform: scale(0.97);
}

